*{
  margin: 0;
  padding: 0;
}

body{
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #14EC2D;

}
.body{
	margin-left: 20px;
	margin-right: 10px;
}
header{
	background: rgb(254,191,1);
	background: -moz-linear-gradient(top, rgb(254,191,1) 21%, rgb(254,191,1) 38%, rgb(249,233,2) 70%, rgb(20,236,45) 93%);
	background: -webkit-linear-gradient(top, rgb(254,191,1) 21%,rgb(254,191,1) 38%,rgb(249,233,2) 70%,rgb(20,236,45) 93%);
	background: linear-gradient(to bottom, rgb(254,191,1) 21%,rgb(254,191,1) 38%,rgb(249,233,2) 70%,rgb(20,236,45) 93%);
}
.button{
	display: block;
  border-radius: 50px;
  background-color: #f4511e;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  cursor: pointer;
  margin: 5px;
  border-top-color: black;
  border-left-color: black;
}
.button span {
  display: inline-block;
}
.button:hover {
  background-color: white;
  color: #f4511e;
}
#button1{
	z-index: 1;
}
#button2{
	z-index: 2;
	margin-top: -25px;
	margin-left: 50px;
}
#button3{
	z-index: 3;
	margin-top: -25px;
	margin-left: 100px;
}
.text{
	font-family: 'Oswald', sans-serif;
	text-align: justify;
  font-size: 16px;
}
h1{
	font-size:55px;
	text-align: center;
	color: white;
}
hr{
	color: #090000;
	size: 5;
}
.bottom{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
}
